## Webclient config files. Uncomment one depending on UI being used.
[include mainsail.cfg]
#[include fluidd.cfg]

[static_digital_output usb_pullup_enable]
pins: !PC13

[danger_options]
error_on_unused_config_options: True
allow_plugin_override: True
homing_elapsed_distance_tolerance: 0.5
autosave_includes: True

#####################################################################
# 	Machine Definitions
#####################################################################
[include machine.cfg]
[include timelapse.cfg] 
[include macros.cfg]
#[include auto_speed.cfg]
#[include AFC/*.cfg]
[include macros/mcu_flasher.cfg]

#####################################################################
# 	MCU Settings
#####################################################################

######
# Raspberry Pi
###############
[include raspberry_pi.cfg]

######
# SKR mini e3 V3.0
###############
[include skr_mini_e3_v3.cfg]

######
# LDO Toolboard
###############
[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[include nitehawk_sb.cfg] 

[include tmc_autotune.cfg]

#####################################################################
# 	Printer Feature Definitions
#####################################################################

######
# Bed Mesh
###############
[include bed_mesh.cfg]

[include my_macros.cfg]

[resonance_tester]
probe_points:
    115, 115, 20
accel_chip_x: adxl345 printhead
accel_chip_y: adxl345 bed

[input_shaper]
# enabled_extruders: extruder
shaper_type_x: mzv
shaper_freq_x: 49.2
# damping_ratio_x:0.100000
shaper_type_y: mzv
shaper_freq_x: 37.4
# damping_ratio_y:0.100000


[include ./KAMP_LiTE/*.cfg]
[include ./Demon_Klipper_Essentials_Unified/*.cfg]
[exclude_object]
[include RELAX/relax.cfg]
#[auto_speed]
[include shell_command.cfg]
[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# block_heat_capacity = 10.7309
#*# sensor_responsiveness = 0.0833731
#*# ambient_transfer = 0.0630352
#*# fan_ambient_transfer = 0.0630352, 0.0691471, 0.0768563, 0.084233, 0.0881532, 0.0922801, 0.0979817, 0.0983632, 0.103401, 0.10664, 0.109441
#*# control = mpc
#*#
#*# [heater_bed]
#*# control = mpc
#*# block_heat_capacity = 337.446
#*# sensor_responsiveness = 0.0126029
#*# ambient_transfer = 1.04991
#*# fan_ambient_transfer =
#*#
#*# [probe]
#*# z_offset = 2.030
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.599219, 0.424219, 0.247656, 0.204687, 0.381250, 0.481250
#*# 	0.492969, 0.337500, 0.150000, 0.173437, 0.316406, 0.496875
#*# 	0.359375, 0.189062, 0.080469, 0.145312, 0.253125, 0.383594
#*# 	0.340625, 0.201562, 0.103906, 0.104687, 0.272656, 0.385937
#*# 	0.305469, 0.204687, 0.100781, 0.105469, 0.248437, 0.375781
#*# 	0.157812, 0.208594, -0.128906, 0.185156, 0.242187, 0.428906
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.4
#*# min_x = 25.0
#*# max_x = 225.0
#*# min_y = 35.0
#*# max_y = 220.0
