# This file is an example config file.
# See https://github.com/Klipper3d/klipper/blob/master/docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/<klipper-device>

## Use the host as mcu to control its gpio pins
## Uncomment the lines below if you use the hostmcu profile, see main Readme for more info
# [mcu host]
# serial: /opt/printer_data/run/klipper_host_mcu.tty

[include mcu/ *.cfg]
[include bed_mesh_homing/*.cfg]

[printer]
kinematics: corexz
max_velocity: 200
max_accel: 1000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[virtual_sdcard]
path: /opt/printer_data/gcodes

[display_status]

[pause_resume]

#####################################################################
#   X/Z Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to HV STEPPER 0
##  Endstop connected to X-ENDSTOP
[stepper_x]
step_pin: :X_STEP
dir_pin: !:X_DIR
enable_pin: !:X_ENABLE
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 200 for 1.8 degree stepper
endstop_pin: tmc5160_stepper_x:virtual_endstop
homing_retract_dist: 0 # Uncomment this line too
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true


##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc5160 stepper_x]
cs_pin: :X_CS
spi_bus: spi4
diag0_pin: ^!:X_DIAG
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to HV STEPPER 1
##  Endstop connected to Y-ENDSTOP
[stepper_z]
step_pin: :Z_STEP
dir_pin: !:Z_DIR
enable_pin: !:Z_ENABLE
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 250
homing_speed: 40
position_min: -3.0


##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc5160 stepper_z]
cs_pin: :Z_CS
spi_bus: spi4
diag0_pin: ^!:Z_DIAG
interpolate: false
run_current: 0.8
sense_resistor: 0.075
stealthchop_threshold: 0
 
#####################################################################
#   Y Stepper Settings
#####################################################################

## Y0 Stepper - Front
##  Connected to STEPPER 0
[stepper_y]
step_pin: :Y_STEP
dir_pin: !:Y_DIR
enable_pin: !:Y_ENABLE
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: tmc2209_stepper_z:virtual_endstop
homing_retract_dist: 0 # Uncomment this line too
position_endstop: 250
position_min: 0
position_max: 250
homing_speed: 70
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_y]
uart_pin: :Y_UART
diag_pin: ^:Y_DIAG
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Y1 Stepper - Rear
##  Connected to STEPPER 1
[stepper_y1]
step_pin: :Y1_STEP
dir_pin: :Y1_DIR
enable_pin: !:Y1_ENABLE
rotation_distance: 40 
microsteps: 32

##  Make sure to update below for your relevant driver (2209 or 5160)
[tmc2209 stepper_y1]
uart_pin: :Y1_UART
diag_pin: ^!:Y1_DIAG
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

######
# BED Connector
###############
[heater_bed]
heater_pin: :BED_HEATER
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
#sensor_type:
sensor_pin: :BED_SENSOR
pullup_resistor: 2200
min_temp: 0
max_temp: 130
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

[probe]
pin: :PROBE
x_offset: 0.0
y_offset: 0.0
z_offset: 0
speed: 5.0 #   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 2
sample_retract_dist: 3.0
samples_tolerance_retries: 1
lift_speed: 10
activate_gcode:
    G4 P400 ;Wait 400ms
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.4
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.4

deactivate_gcode:
    {% set run_current = printer.configfile.config['tmc5160 stepper_z'].run_current | float %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={run_current}
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT={run_current}


[controller_fan controller_fan]
##  Controller fan - FAN2
pin: SKIRT_FAN
##tachometer_pin: PF6
kick_start_time: 0.5
heater: heater_bed

#####################################################################
#   Homing and Bed Mesh
#####################################################################

[homing_override]
axes: z
set_position_z: 0
gcode:
    G90
    G0 Z5 F500
    G28 X0 Y0
    G0 X125 Y100 F9000
    G28 Z0
    G0 Z5 F500

[bed_mesh]
speed: 150
horizontal_move_z: 5
mesh_min: 25,35.0
mesh_max: 225.0,220
probe_count: 6,6
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0


[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE