# This file contains an example configuration with RPi as secondary mcu

# See docs/Config_Reference.md for a description of parameters.

# The rpi microcontroller is used as secondary.
# Typically, both the X and Y axes
# are connected to the main micro-controller. The rpi microcontroller is used
# on non time-critical functions such as enclosure sensors, additional fan or
# light sources

#####################################################################
#   MCU Definition
#####################################################################
[mcu RPi]
serial: /tmp/klipper_host_mcu

[temperature_sensor Raspberry_Pi_Temperature]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#####################################################################
#   Accelerometer
#####################################################################

[adxl345 bed]
cs_pin: RPi:None