# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#####################################################################
#   MCU Definition
#####################################################################

[include heated_bed.cfg]
[include steppers.cfg]

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial:/dev/serial/by-id/usb-Klipper_stm32g0b1xx_28004F000F50415833323520-if00
baud: 500000
restart_method: command
##--------------------------------------------------------------------


[temperature_sensor MCU_Temperature]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


#####################################################################
# 	Fan Control
#####################################################################

######
# Electronics Fan
# SKR-FAN0
###############
[temperature_fan _Controller_Fan]
pin: PC6
max_power: 1
shutdown_speed: 1
kick_start_time: 0.200
sensor_type: temperature_combined
sensor_list: temperature_sensor Raspberry_Pi_Temperature, temperature_sensor MCU_Temperature
max_speed: 1.0
min_speed: 0
control: pid
min_temp: 0
max_temp: 80
target_temp: 42
pid_kp: 1.0
pid_ki: 0.5
pid_kd: 2.0
pid_deriv_time: 2.0
combination_method: mean
maximum_deviation: 100

######
# Caselight
# SKR-FAN1
###############
[output_pin Printer_Lights]
pin: PC7 
pwm: true
hardware_pwm: False
value: 0.01 #startup value
shutdown_value: 0
cycle_time: 0.008


[board_pins]

aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.